:root {
  --width: 1000px;
  --font-extra-large: 24px;
  --font-large: 20px;
  --font-small: 16px;
  --skills-modal-height: 500px;
  --skills-modal-transition-time: 0.5s;
  scrollbar-color: #515158 #bbbbca;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #515158;
}

::-webkit-scrollbar-thumb {
  background-color: #bbbbca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--font-large);
  font-family: Helvetica, Georgia, Times, "Times New Roman", sans-serif;
  color: white;
  background-color: #0b0e0f;
}

.background-vid {
  position: absolute;
  width: 100%;
  max-height: 80vh;
  overflow: hidden;
}

.background-vid video {
  width: 100vw;
}

h2 {
  font-size: var(--font-extra-large);
}

section {
  padding: 20px;
}

section:nth-child(odd) {
  background-color: #161b1d;
}

section:nth-child(even) {
  background-color: #0b0e0f;
  border-top: 1px solid  #2c363a;
  border-bottom: 1px solid #2c363a;
}

a {
  font-size: var(--font-small);
  text-decoration: none;
  color: #9999ff;
}

a:visited {
  color: #ff66ff;
}

.section-experience {
  display: flex;
  margin: 50px 0;
}

.section-date {
  min-width: 180px;
  padding: 0 10px 10px 0;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: var(--width);
  margin: 80px auto 0 auto;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-pic {
  width: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.profile-pic img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-name {
  text-align: right;
}

.subtext {
  font-size: var(--font-small);
}

summary:hover {
  cursor: pointer;
}

.screenshot-wrapper {
  overflow-x: auto;
  width: 100%;
  height: 600px;
  display: flex;
}

.screenshot-img {
  min-width: calc(100% - 16px);
  padding: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screenshot-img:hover {
  cursor: pointer;
}

.screenshot-img img {
  max-width: 100%;
  max-height: 100%;
}

.btn-arrow {
  transition: transform var(--skills-modal-transition-time);
  transition-timing-function: ease-in-out;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 3px;
  transform: rotate(45deg);
}

.skills {
  display: flex;
  justify-content: center;
}

.skills input {
  appearance: none;
}

.btn-skills {
  z-index: 20;
  position: fixed;
  transition: top var(--skills-modal-transition-time);
  top: 0;
  padding: 10px 20px;
  border: 2px solid white;
  border-top: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #121212;
  box-shadow: 0px 2px 12px #ababab;
}

.btn-skills:hover {
  cursor: pointer;
}

.skills-content {
  z-index: 20;
  position: fixed;
  transition: top var(--skills-modal-transition-time);
  padding: 20px;
  box-sizing: border-box;
  height: var(--skills-modal-height);
  max-height: calc(100vh - 40px);
  width: var(--width);
  top: calc(0px - var(--skills-modal-height));
  border: 2px solid white;
  background-color: #121212;
  overflow-y: auto;
}

.skills-lists {
  display: flex;
  justify-content: space-around;

  div {
    width:50%;
  }
}

.skills input:focus ~ .btn-skills {
  border: 4px solid dodgerblue
}

.skills input:checked ~ .skills-content {
  transition: top var(--skills-modal-transition-time);
  transition-timing-function: ease-in-out;
  top: 0;
}

.skills input:checked ~ .btn-skills {
  transition: top var(--skills-modal-transition-time);
  transition-timing-function: ease-in-out;
  top: calc(var(--skills-modal-height));
}

.skills input:checked + .btn-skills .btn-arrow {
  transition: transform var(--skills-modal-transition-time);
  transition-timing-function: ease-in-out;
  transform: rotate(-135deg);
}

.skills input:checked + .btn-skills .skills-bg {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 80%;
}

.img-toggle {
  display: none;
}

.img-toggle:checked + .screenshot-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-toggle:checked + .screenshot-img img {
  max-width: 90%;
  max-height: 90%;
  border: 2px solid white;
  border-radius: 8px;
}

@media screen and (max-width: 800px) {
  :root {
    --width: 100%;
    --font-large: 18px;
    --font-small: 14px;
  }

  .background-vid {
    height: 300px;
  }

  .background-vid video {
    width: auto;
  }

  .profile-pic {
    width: 100px;
  }

  .profile-pic img {
    width: 100px;
    height: 100px;
  }

  .section-experience {
    flex-direction: column;
  }

  .skills-content {
    height: 50vh;
  }

  .skills input:checked ~ .btn-skills {
    top: 50vh;
  }
}
